.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  
}

.controls button {
  border: n1px solid #3498db;
  background-color: transparent;
  border-radius: 15px;
  color: black;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
  min-width: 300px;
  cursor: pointer;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.8);
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.controls button:hover {
  background-color: 	#FFE4E1;
  color: #4682B4;
}


/* FIRST MODAL */
.first-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-title-all {
  text-align: center;
}

.first-modal-title {
  color: #4682B4;
}

.modal-one-title {
  color: lightslategray;
}

.first-modal-paragraphs {
  color: darkslategray;
  text-align: justify;
  font-size: 20px;
}

.close-first-modal {
  width: 170px;
  height: 25px;
  border-radius: 7px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  border: none;
  box-shadow: 0px 3px 1px rgba(0,0,0,.1),0px 1px 2px rgba(0,0,0,.8),0px 2px 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  bottom: -30px;
}

.close-first-modal:hover {
  background-color: #F8F8FF;
  color: #696969;
}


/* SECOND MODAL */
.second-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.second-modal-title {
  color: #4682B4;
  text-align: center;
}

.second-modal-paragraph {
  color: darkslategray;
  text-align: justify;
  font-size: 20px;
}

.close-second-modal {
  width: 170px;
  height: 25px;
  border-radius: 7px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  border: none;
  box-shadow: 0px 3px 1px rgba(0,0,0,.1),0px 1px 2px rgba(0,0,0,.8),0px 2px 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute; 
  bottom: -80px;
}

.close-second-modal:hover {
  background-color: #F8F8FF;
  color: #696969;
}


/* THIRD MODAL */
.modal-three-title {
  text-align: center;
  margin: 0;
}

.movie-title {
  color: #4682B4;
}

.movie-year {
  font-weight: 500;
  font-size: 25px;
  color: darkslategray;
}

.quote {
  color: #2F4F4F;
}

.movie-quote {
  color: gray;
  font-weight: 400;
}

.music-title {
  color: #DB7093;
  text-align: center;
}

.third-modal-paragraph {
  color: darkslategray;
  text-align: justify;
}

.third-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.close-third-modal {
  width: 170px;
  height: 25px;
  border-radius: 7px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  border: none;
  box-shadow: 0px 3px 1px rgba(0,0,0,.1),0px 1px 2px rgba(0,0,0,.8),0px 2px 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  bottom: -20px;
}

.close-third-modal:hover {
  background-color: #F8F8FF;
  color: #696969;
}